PORT=3000

DB_HOST=localhost
DB_PORT=5432
POSTGRES_USER=devgotchi
POSTGRES_PASSWORD=devgotchi_password
POSTGRES_DB=devgotchi

FRONTEND_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=
GITHUB_WEBHOOK_SECRET=
GITHUB_WEBHOOK_URL=
GITHUB_TOKEN=
SESSION_SECRET=
GITHUB_CONNECTION_STORE=
